.breadrumbssec {
  margin-top: 118px;
}
.bredcrumbs {
  color: #C8C8C8;
  font-weight: 500;
  font-size: 14px;
}
.bredcrumbs a {
  color: #C8C8C8;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.bredcrumbs a:hover {
  color: #E21C2B;
}
.articlesheader {
  margin-top: 20px;
}
.articlesheader__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.articlesheader__content .btn {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin-top: 5px;
}
.articlesheader__title {
  font-weight: 600;
  font-size: 48px;
  padding-right: 60px;
}
.articlesheader__title.uppercase {
  text-transform: uppercase;
}
.articlesitems {
  margin-top: 40px;
}
.articlesitems__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
}
.articlesitems__item {
  text-decoration: none;
}
.articlesitems__item:hover .articlesitems__item__title {
  color: #E21C2B;
}
.articlesitems__item__img {
  width: 100%;
  padding-bottom: 76%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.articlesitems__item__title {
  font-weight: bold;
  font-size: 26px;
  color: #202020;
  text-decoration: none;
  margin-top: 20px;
}
.articlesitems__item__date {
  margin-top: 10px;
  font-size: 18px;
  color: #C0C0C0;
}
.articlespagination {
  margin-top: 77px;
  margin-bottom: 130px;
}
.nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.nav-links .page-numbers {
  width: 36px;
  min-width: 36px;
  height: 36px;
  display: block;
  border-radius: 100%;
  font-weight: 600;
  font-size: 24px;
  color: #C0C0C0;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  text-decoration: none;
  margin: 0 18px;
}
.nav-links .page-numbers.current {
  background-color: #E21C2B;
  color: white;
}
.nav-links .page-numbers.prev {
  width: 52px;
  height: 31px;
  border-radius: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin-right: 90px;
  background: none;
}
.nav-links .page-numbers.prev img {
  width: 100%;
}
.nav-links .page-numbers.next {
  width: 52px;
  height: 31px;
  border-radius: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin-left: 90px;
  background: none;
}
.nav-links .page-numbers.next img {
  width: 100%;
}
.articlecontent {
  padding-bottom: 100px;
}
.articlecontent__content {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 40px;
}
.articlecontent__sidebar {
  padding-top: 48px;
}
.articlecontent__sidebar__items {
  margin-top: 21px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 34px;
}
.articlecontent__sidebar__title {
  font-weight: bold;
  font-size: 30px;
}
.articlecontent__sidebar__item {
  text-decoration: none;
  color: #000;
}
.articlecontent__sidebar__item:hover .articlecontent__sidebar__item__title {
  color: #E21C2B;
}
.articlecontent__sidebar__item__title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
}
.articlecontent__sidebar__item__date {
  font-size: 18px;
  color: #C0C0C0;
  margin-top: 10px;
}
.articlecontent__sidebar__item__img {
  width: 100%;
  padding-bottom: 67%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
@media screen and (max-width: 1440px) {
  .articlesitems__content {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .articlesitems__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .articlecontent__content {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .articlecontent__sidebar {
    padding-top: 0;
  }
}
@media screen and (max-width: 1000px) {
  .articlesitems__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .articlecontent {
    padding-bottom: 50px;
  }
  .articlesitems {
    margin-top: 28px;
  }
  .articlesitems__content {
    grid-template-columns: 1fr;
  }
  .articlesheader__title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .articlesheader__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
  .breadrumbssec {
    margin-top: 56px;
  }
  .bredcrumbs {
    font-size: 12px;
  }
  .bredcrumbs a {
    font-size: 12px;
  }
  .articlespagination {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .nav-links .page-numbers {
    width: 24px;
    min-width: 24px;
    height: 24px;
    font-size: 16px;
    margin: 0 7px;
  }
  .nav-links .page-numbers.prev {
    width: 26px;
    height: 15px;
    margin-right: 28px;
  }
  .nav-links .page-numbers.next {
    width: 26px;
    height: 15px;
    margin-left: 28px;
  }
}
